<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/analytics.log</file>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <message/>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <root level="DEBUG">
    </root>

    <logger name="org.jboss.perspicuus" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>